/* signin.css */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  padding: 20px;
  margin-top: 50px;
}

.btn {
  margin-top: 10px;
}

.input-group-text {
  width: 40px;
  justify-content: center;
}
