/* Profile.css */
.profile {
    width: 100%;
    height: auto;
    padding-top: 70px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile-picture {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;
}

.profile-picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.profile-details {
    width: 100%;
    text-align: center;
}

.profile-details p {
    font-size: 1.1em;
    margin: 8px 0;
    color: #555;
}

.profile-details strong {
    color: #333;
}

.profile-buttons {
    display: flex;
    flex-direction: column;
    /* Stack buttons vertically on smaller screens */
    margin-top: 20px;
}

.profile-buttons button {
    margin: 5px 0;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.update-button {
    background-color: #4CAF50;
    /* Green */
    color: white;
}

.update-button:hover {
    background-color: #45a049;
}

.logout-button {
    background-color: #f44336;
    color: white;
}

.logout-button:hover {
    background-color: #d32f2f;
}

/* Media Queries for Responsiveness */
@media (min-width: 768px) {
    .profile-container {
        max-width: 600px;
    }

    .profile-card {
        flex-direction: row;
        /* Row direction on larger screens */
        text-align: left;
    }

    .profile-details {
        margin-left: 20px;
        /* Add margin on larger screens */
    }

    .profile-buttons {
        flex-direction: row;
        /* Row direction for buttons on larger screens */
        justify-content: space-between;
        width: 100%;
        /* Full width for buttons */
    }
}