/* pagination.css */
.pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    list-style: none;
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  .page-link {
    padding: 10px 15px;
    text-decoration: none;
    color: #3498db;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .page-link:hover {
    background-color: #f1f1f1;
  }
  
  .page-item.active .page-link {
    background-color: #3498db;
    color: #fff;
    border: 1px solid #3498db;
  }
  