.signup-full-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5; /* Change the background color as needed */
  }
  
  .signup-container-wrapper {
    align-items: center;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .signup-container-wrapper h1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form-wrapper {
    display: flex;
    flex-direction: column; 
  }
  
  .form-wrapper input {
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .form-wrapper button {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: #007bff; /* Change the button color as needed */
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .form-wrapper button:hover {
    background-color: #0056b3; /* Change the button color on hover as needed */
  }
  