
.our-brand-wrapper {
    text-align: center;
    margin-bottom: 40px;
    padding: 50px;
}

.inner-wrapper {
    padding: 30px;
    margin-left: 10%;
}

.our-brand-container {
    margin-bottom: 80px;
    /* Adjust as needed */
}

.our-brand-container h1 {
    font-size: 40px;
    font-weight: bold;
}

.brand-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);/* Four columns */
    grid-gap: 30px;
}

/* Style for individual brand items */
.brand-item {
    width: 50%;/* Ensure the image fills the grid cell */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%;  /* Ensure the image fits within its container */
    cursor: pointer;  
}