.carousel-container {
    position: relative;
    width: 100%;
    max-width: 1500px;
    max-height: 90vh;
    margin: auto;
    overflow: hidden;
    object-fit: cover;
  }
  
  .carousel-wrapper {
    display: flex;
    transition: transform 1s ease-in-out;
  }
  
  .carousel-slide {
    position: relative;
    flex: 0 0 100%; /* Ensure each slide takes up the full width */
  }
  
  .carousel-image {
    width: 100%;
    height: auto;
  }
  
  .carousel-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    padding: 10px;
    height: 60px;
    width: 30px;
    cursor: pointer;
    z-index: 2;
  }
  
  .left-arrow {
    left: 10px;
  }
  
  .right-arrow {
    right: 15px;
  }
  