
.whole-page-wrapper{
    
    flex-direction: column;   
}

.about-us-text-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;  
}

.image-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.about-company-text{
    margin-left: 50px;
}

.about-text-wrapper{
    padding: 10px 50px;
    margin-bottom: 35px;
}

.text{
    font-size: 20px;
}

@media (max-width:740px){
    .about-company-text{
        margin-left: 30px;
    }
    .image-wrapper{
        margin-top: -10px;
    }
    .image-wrapper img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}
