
.footer-main-wrapper {
  background-color: #282c34;
  padding: 20px 20px;
  font-family: Arial, sans-serif;
  color: #ffffff;
}

.footer-upper-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #444;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.upper-one-container, .upper-second-container, .upper-third-container, .upper-fourth-container {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.gym-logo img {
  margin-top: -20px;
  max-width: 80%;
}

.footer-gym-address-container{

}

.footer-gym-address-container h4 {
  margin: 10px 0;
  font-size: 18px;
}

.footer-gym-address-container p {
  margin: 5px 0;
  color: #a9a9a9;
}

.upper-second-container h3, .upper-third-container h3, .upper-fourth-container h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.upper-second-container ul {
  list-style: none;
  padding: 0;
}

.upper-second-container li {
  margin: 5px 0;
  color: #a9a9a9;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.upper-second-container li a{
  text-decoration: none;
  color: #a9a9a9;
}

.upper-second-container li a:hover{
  color: gold;
}

.upper-second-container li:hover{
  color: gold;
}

.upper-third-container img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
}

.follow-wrapper-container h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.upper-fourth-container input[type="email"] {
  padding: 8px;
  width: calc(100% - 110px);
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #444;
  color: #ffffff;
}

.footer-subscribe-button {
  padding: 8px 20px;
  border: none;
  background-color: gray;
  color: #282c34;
  cursor: pointer;
  border-radius: 4px;
}

.footer-subscribe-button:hover{
  background-color: #31dafb;
}

.footer-lower-wrapper {
  text-align: center;
  padding: 10px;
  background-color: #20232a;
  color: #ffffff;
}

.footer-lower-container-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.footer-lower-container-wrapper p {
  margin: 5px 0;
}

.footer-lower-container-wrapper span {
  font-weight: bold;
  color: #61dafb;
}
