
/* Fade-in animation */
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /* Initially hide the content */
  .fade-in {
    opacity: 0;
    animation: fadeIn 1.9s ease-in-out forwards;
  }